*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column ;

}

.container h2{
    background-color: rgb(31, 28, 28);
    color: white;
    font-size: 2.3rem;
    letter-spacing: 4px;
    padding: 15px 10px;
    border-radius: 5px;


}
.container span{
    color: pink;

}

.container .btn {
    border: 2px solid pink;
    font-size: 1.2rem;
    padding: 10px 15px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    


}